global
    log /dev/log local0
    log /dev/log local1 notice
    daemon
    maxconn 256

defaults
    log global
    mode http
    option httplog
    timeout connect 5000
    timeout client 50000
    timeout server 50000

frontend lb_1_front
    bind *:80
    default_backend lb_1_back

backend lb_1_back
    balance roundrobin
    option tcp-check
    server srv1 192.168.1.16:8084 check inter 3s fall 2 rise 2
    server srv2 192.168.1.14:8084 check inter 3s fall 2 rise 2
    server srv3 192.168.1.18:8084 check inter 3s fall 2 rise 2

frontend lb_2_front
    bind *:81
    default_backend lb_2_back

backend lb_2_back
    balance roundrobin
    option tcp-check
    server srv1 192.168.1.13:8084 check inter 3s fall 2 rise 2
    server srv2 192.168.1.15:8084 check inter 3s fall 2 rise 2
    server srv3 192.168.1.17:8084 check inter 3s fall 2 rise 2

